/* @theme istanbul */

@import 'gaia';

section {
  font-family: 'TheSans for Ista', Lato, 'Avenir Next', Avenir, 'Trebuchet MS', 'Segoe UI', sans-serif;
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 1980px;
  height: 1280px;
  margin: 0 auto;
  padding: 5 2;
  background-color: #ffffff;
  color: #333;
  line-height: 1.5;
}

section.title {
  text-align: center;
  justify-content: center;
}

div.columns-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.5em;
  grid-gap: 0.5em;
}
div.columns-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5em;
  grid-gap: 0.5em;
}











