/* @theme istanbul */

@import 'gaia';

section {
  font-family: Lato, 'Avenir Next', Avenir, 'Trebuchet MS', 'Segoe UI', sans-serif;
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 1920px;
  height: 1080px;
}

section.title {
  text-align: center;
  justify-content: center;
}

div.columns-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1em;
  grid-gap: 1em;
}
div.columns-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1em;
  grid-gap: 1em;
}











